Django==4.2.27
django-cors-headers==4.9.0
djangorestframework==3.16.1
drf-yasg==1.21.11
celery==5.6.0
redis==7.1.0
django-celery-beat==2.8.1
django-celery-results==2.6.0
psycopg2-binary==2.9.11
whitenoise==6.11.0
gunicorn==23.0.0
dj-database-url==3.0.1
python-dotenv==1.2.1
nepse==0.1.7
requests==2.31.0
pandas==2.2.2
python-dateutil==2.9.0.post0
urllib3==1.26.18