# Core
Django==4.2.7
djangorestframework==3.14.0
drf-yasg==1.21.7

# Scraping
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
pandas==2.1.1

# Deployment
gunicorn==21.2.0
whitenoise==6.5.0
python-dotenv==1.0.0
dj-database-url==2.0.0
psycopg2-binary==2.9.9  # For PostgreSQL

# Utilities
python-dateutil==2.8.2
pytz==2023.3