Django>=4.2,<5.0
django-cors-headers
djangorestframework
drf-yasg
celery
redis
django-celery-beat
django-celery-results
psycopg2-binary  # PostgreSQL for production
whitenoise
gunicorn
dj-database-url
python-dotenv
nepse==0.0.11
requests
pandas
python-dateutil